<header [class.bg-darkmode]="darkMode">
  <div routerLink="/" style="z-index: 2;">
    <img *ngIf='darkMode' class="logo" src="assets/img/grey_logo.png">
    <img *ngIf='!darkMode' class="logo" src="assets/img/white_logo.png">
  </div>
  <img src="assets/img/menu-bar.png" class="menu-logo" (click)="clickMenuLogo()" [class.menu-logo-darkmode]="darkMode">
  <div class="nav-bar-mobile" [class.show-nav-bar-mobile]="showMobileMenu" id="navbar-items-container">
    <ul class="nav-ul" [class.bg-darkmode]="darkMode">
      <li class="nav-item" *ngFor="let item of items; let i = index;" (click)="itemClick(i)" id="item{{ i }}" [class.nav-item-selected]="i == 0">
        <a class="nav-link" [class.font-color-darkmode]="darkMode">{{ item.title }}</a>
      </li>
    </ul>
  </div>
  <div class="unfocus-overlay" [class.nav-bar-unfocus-overlay]="navbarFocused" (click)="navbarUnfocused()"></div>
</header>