<div class="container">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Klaus Werner<br />
        Web-Developer<br />
        Sternstra&szlig;e 10<br />
        01139 Dresden<br>
        Deutschland</p>

    <h2>Kontakt</h2>
    <p>Telefon: 0151-70160587<br />
        E-Mail: werkl4@web.de</p>

    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
            href="https://ec.europa.eu/consumers/odr/" target="_blank" class="href-link"
            rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie
        oben im Impressum.</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
        teilzunehmen.</p>

    <p>Quelle: <a class="href-link"
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>

    <h1>Datenschutzerklärung</h1>

    <h2>Inhaltsverzeichnis</h2>
    <p>
        <a class="href-link" (click)="myAppComp.scrollToId('Einleitung-und-Überblick')">Einleitung und Überblick</a><br>
        <a class="href-link" (click)="myAppComp.scrollToId('Rechtsgrundlagen')">Rechtsgrundlagen</a><br>
        <a class="href-link" (click)="myAppComp.scrollToId('Rechte-laut-Datenschutzgrundverordnung')">Rechte laut Datenschutzgrundverordnung</a><br>
        <a class="href-link" (click)="myAppComp.scrollToId('Cookiebot-Datenschutzerklärung')">Cookiebot Datenschutzerklärung</a><br>
        <a class="href-link" (click)="myAppComp.scrollToId('Google-Fonts-Lokal-Datenschutzerklärung')">Google Fonts Lokal Datenschutzerklärung</a><br>
        <a class="href-link" (click)="myAppComp.scrollToId('Google-Fonts-Datenschutzerklärung')">Google Fonts Datenschutzerklärung</a><br>
    </p>

    <h2 id="Einleitung-und-Überblick">Einleitung und Überblick</h2>
    <p>
        Wir haben diese Datenschutzerklärung (Fassung 05.06.2021-311284929) verfasst, um Ihnen gemäß der Vorgaben der
        Datenschutz-Grundverordnung (EU) 2016/679 und anwendbaren nationalen Gesetzen zu erklären, welche
        personenbezogenen Daten (kurz Daten) wir als Verantwortliche – und die von uns beauftragten Auftragsverarbeiter
        (z. B. Provider) – verarbeiten, zukünftig verarbeiten werden und welche rechtmäßigen Möglichkeiten Sie haben.
        Die verwendeten Begriffe sind geschlechtsneutral zu verstehen.
        Kurz gesagt: Wir informieren Sie umfassend über Daten, die wir über Sie verarbeiten.

        Datenschutzerklärungen klingen für gewöhnlich sehr technisch und verwenden juristische Fachbegriffe. Diese
        Datenschutzerklärung soll Ihnen hingegen die wichtigsten Dinge so einfach und transparent wie möglich
        beschreiben. Soweit es der Transparenz förderlich ist, werden technische Begriffe leserfreundlich erklärt, Links
        zu weiterführenden Informationen geboten und Grafiken zum Einsatz gebracht. Wir informieren damit in klarer und
        einfacher Sprache, dass wir im Rahmen unserer Geschäftstätigkeiten nur dann personenbezogene Daten verarbeiten,
        wenn eine entsprechende gesetzliche Grundlage gegeben ist. Das ist sicher nicht möglich, wenn man möglichst
        knappe, unklare und juristisch-technische Erklärungen abgibt, so wie sie im Internet oft Standard sind, wenn es
        um Datenschutz geht. Ich hoffe Sie finden die folgenden Erläuterungen interessant und informativ und vielleicht
        ist die eine oder andere Information dabei, die Sie noch nicht kannten.
        Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an die unten bzw. im Impressum genannte
        verantwortliche Stelle zu wenden, den vorhandenen Links zu folgen und sich weitere Informationen auf Drittseiten
        anzusehen. Unsere Kontaktdaten finden Sie selbstverständlich auch im Impressum.
    </p>

    <h2 id="Rechtsgrundlagen">Rechtsgrundlagen</h2>
    <p>
        In der folgenden Datenschutzerklärung geben wir Ihnen transparente Informationen zu den rechtlichen Grundsätzen
        und Vorschriften, also den Rechtsgrundlagen der Datenschutz-Grundverordnung, die uns ermöglichen,
        personenbezogene Daten zu verarbeiten.
        Was das EU-Recht betrifft, beziehen wir uns auf die VERORDNUNG (EU) 2016/679 DES EUROPÄISCHEN PARLAMENTS UND DES
        RATES vom 27. April 2016. Diese Datenschutz-Grundverordnung der EU können Sie selbstverständlich online auf
        EUR-Lex, dem Zugang zum EU-Recht, unter https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=celex%3A32016R0679
        nachlesen.

        Wir verarbeiten Ihre Daten nur, wenn mindestens eine der folgenden Bedingungen zutrifft:

        Einwilligung (Artikel 6 Absatz 1 lit. a DSGVO): Sie haben uns Ihre Einwilligung gegeben, Daten zu einem
        bestimmten Zweck zu verarbeiten. Ein Beispiel wäre die Speicherung Ihrer eingegebenen Daten eines
        Kontaktformulars.
        Vertrag (Artikel 6 Absatz 1 lit. b DSGVO): Um einen Vertrag oder vorvertragliche Verpflichtungen mit Ihnen zu
        erfüllen, verarbeiten wir Ihre Daten. Wenn wir zum Beispiel einen Kaufvertrag mit Ihnen abschließen, benötigen
        wir vorab personenbezogene Informationen.
        Rechtliche Verpflichtung (Artikel 6 Absatz 1 lit. c DSGVO): Wenn wir einer rechtlichen Verpflichtung
        unterliegen, verarbeiten wir Ihre Daten. Zum Beispiel sind wir gesetzlich verpflichtet Rechnungen für die
        Buchhaltung aufzuheben. Diese enthalten in der Regel personenbezogene Daten.
        Berechtigte Interessen (Artikel 6 Absatz 1 lit. f DSGVO): Im Falle berechtigter Interessen, die Ihre Grundrechte
        nicht einschränken, behalten wir uns die Verarbeitung personenbezogener Daten vor. Wir müssen zum Beispiel
        gewisse Daten verarbeiten, um unsere Website sicher und wirtschaftlich effizient betreiben zu können. Diese
        Verarbeitung ist somit ein berechtigtes Interesse.

        Weitere Bedingungen wie die Wahrnehmung von Aufnahmen im öffentlichen Interesse und Ausübung öffentlicher Gewalt
        sowie dem Schutz lebenswichtiger Interessen treten bei uns in der Regel nicht auf. Soweit eine solche
        Rechtsgrundlage doch einschlägig sein sollte, wird diese an der entsprechenden Stelle ausgewiesen.

        Zusätzlich zu der EU-Verordnung gelten auch noch nationale Gesetze:

        In Österreich ist dies das Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener
        Daten (Datenschutzgesetz), kurz DSG.
        In Deutschland gilt das Bundesdatenschutzgesetz, kurz BDSG.

        Sofern weitere regionale oder nationale Gesetze zur Anwendung kommen, informieren wir Sie in den folgenden
        Abschnitten darüber.
    </p>

    <h2 id="Rechte-laut-Datenschutzgrundverordnung">Rechte laut Datenschutzgrundverordnung</h2>
    <p>
        Laut Artikel 13 DSGVO stehen Ihnen die folgenden Rechte zu, damit es zu einer fairen und transparenten
        Verarbeitung von Daten kommt:

        Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten von Ihnen verarbeiten. Sollte das
        zutreffen, haben Sie Recht darauf eine Kopie der Daten zu erhalten und die folgenden Informationen zu erfahren:
        zu welchem Zweck wir die Verarbeitung durchführen;
        die Kategorien, also die Arten von Daten, die verarbeitet werden;
        wer diese Daten erhält und wenn die Daten an Drittländer übermittelt werden, wie die Sicherheit garantiert
        werden kann;
        wie lange die Daten gespeichert werden;
        das Bestehen des Rechts auf Berichtigung, Löschung oder Einschränkung der Verarbeitung und dem Widerspruchsrecht
        gegen die Verarbeitung;
        dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links zu diesen Behörden finden Sie weiter unten);
        die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben haben;
        ob Profiling durchgeführt wird, ob also Daten automatisch ausgewertet werden, um zu einem persönlichen Profil
        von Ihnen zu gelangen.
        Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten, was bedeutet, dass wir Daten richtig
        stellen müssen, falls Sie Fehler finden.
        Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf Vergessenwerden“), was konkret bedeutet, dass
        Sie die Löschung Ihrer Daten verlangen dürfen.
        Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der Verarbeitung, was bedeutet, dass wir die Daten
        nur mehr speichern dürfen aber nicht weiter verwenden.
        Sie haben laut Artikel 19 DSGVO das Recht auf Datenübertragbarkeit, was bedeutet, dass wir Ihnen auf Anfrage
        Ihre Daten in einem gängigen Format zur Verfügung stellen.
        Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach Durchsetzung eine Änderung der Verarbeitung
        mit sich bringt.
        Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e (öffentliches Interesse, Ausübung öffentlicher
        Gewalt) oder Artikel 6 Abs. 1 lit. f (berechtigtes Interesse) basiert, können Sie gegen die Verarbeitung
        Widerspruch einlegen. Wir prüfen danach so rasch wie möglich, ob wir diesem Widerspruch rechtlich nachkommen
        können.
        Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie jederzeit gegen diese Art der
        Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Direktmarketing verwenden.
        Werden Daten verwendet, um Profiling zu betreiben, können Sie jederzeit gegen diese Art der Datenverarbeitung
        widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Profiling verwenden.
        Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer ausschließlich auf einer automatisierten
        Verarbeitung (zum Beispiel Profiling) beruhenden Entscheidung unterworfen zu werden.

        Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
        datenschutzrechtlichen Ansprüche in sonst einer Weise verletzt worden sind, können Sie sich bei der
        Aufsichtsbehörde beschweren. Diese ist für Österreich die Datenschutzbehörde, deren Website Sie unter
        https://www.dsb.gv.at/ finden und für Deutschland können Sie sich an die Bundesbeauftragte für den Datenschutz
        und die Informationsfreiheit (BfDI) wenden.

        Kurz gesagt: Sie haben Rechte – zögern Sie nicht, die oben gelistete verantwortliche Stelle bei uns zu
        kontaktieren!
    </p>

    <h2 id="Cookiebot-Datenschutzerklärung">Cookiebot Datenschutzerklärung</h2>
    <p>
        Cookiebot Datenschutzerklärung Zusammenfassung
        Betroffene: Website Besucher
        Zweck: Einholung der Zustimmung zu bestimmten Cookies und somit dem Einsatz bestimmter Tools
        Verarbeitete Daten: Daten zur Verwaltung der eingestellten Cookie-Einstellungen wie IP-Adresse, Zeitpunkt der
        Zustimmung, Art der Zustimmung, einzelne Zustimmungen. Mehr Details dazu finden Sie beim jeweils eingesetzten
        Tool.
        Speicherdauer: die Daten werden nach einem Jahr gelöscht
        Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit.f DSGVO (berechtigte
        Interessen)
        Was ist Cookiebot?

        Wir verwenden auf unserer Website Funktionen des Anbieters Cookiebot. Hinter Cookiebot steht das Unternehmen
        Cybot A/S, Havnegade 39, 1058 Kopenhagen, DK. Cookiebot bietet uns unter anderem die Möglichkeit, Ihnen einen
        umfangreichen Cookie-Hinweis (auch Cookie-Banner oder Cookie-Notice genannt) zu liefern. Durch die Verwendung
        dieser Funktion können Daten von Ihnen an Cookiebot bzw. Cybot gesendet, gespeichert und verarbeitet werden. In
        dieser Datenschutzerklärung informieren wir Sie warum wir Cookiebot nutzen, welche Daten übertragen werden und
        wie Sie diese Datenübertragung verhindern können.

        Cookiebot ist ein Software-Produkt des Unternehmens Cybot. Die Software erstellt automatisch einen
        DSGVO-konformen Cookie-Hinweis für unserer Websitebesucher. Zudem scannt, kontrolliert und wertet die
        Technologie hinter Cookiebot alle Cookies und Tracking-Maßnahmen auf unserer Website.
        Warum verwenden wir Cookiebot auf unserer Website?

        Datenschutz nehmen wir sehr ernst. Wir wollen Ihnen ganz genau zeigen, was auf unserer Website vor sich geht und
        welche Ihrer Daten gespeichert werden. Cookiebot hilft uns einen guten Überblick über all unsere Cookies (Erst-
        und Drittanbieter-Cookies) zu erhalten. So können wir Sie über die Nutzung von Cookies auf unserer Website exakt
        und transparent informieren. Sie bekommen stets einen aktuellen und datenschutzkonformen Cookie-Hinweis und
        entscheiden selbst, welche Cookies Sie zulassen und welche nicht.
        Welche Daten werden von Cookiebot gespeichert?

        Wenn Sie Cookies zulassen, werden folgende Daten an Cybot übertragen, gespeichert und verarbeitet.

        IP-Adresse (in anonymisierter Form, die letzten 3 Ziffern werden auf 0 gesetzt)
        Datum und Uhrzeit Ihres Einverständnisses
        unsere Website-URL
        technische Browserdaten
        verschlüsselter, anonymer Key
        die Cookies, die Sie zugelassen haben (als Zustimmungsnachweis)

        Folgenden Cookies werden von Cookiebot gesetzt, wenn Sie der Verwendung von Cookies zugestimmt haben:

        Name: CookieConsent
        Wert: stamp:’P7to4eNgIHvJvDerjKneBsmJQd9311284929-2
        Verwendungszweck: In diesem Cookie wird Ihr Zustimmungsstatus, gespeichert. Dadurch kann unsere Website auch bei
        zukünftigen Besuchen den aktuellen Status lesen und befolgen.
        Ablaufdatum: nach einem Jahr

        Name: CookieConsentBulkTicket
        Wert: kDSPWpA%2fjhljZKClPqsncfR8SveTnNWhys5NojaxdFYBPjZ2PaDnUw%3d%3311284929-6
        Verwendungszweck: Dieses Cookie wird gesetzt, wenn Sie alle Cookies erlauben und somit eine “Sammelzustimmung”
        aktiviert haben. Das Cookie speichert dann eine eigene, zufällige und eindeutige ID.
        Ablaufdatum: nach einem Jahr

        Anmerkung: Bitte bedenken Sie, dass es sich hier um eine beispielhafte Liste handelt und wir keinen Anspruch auf
        Vollständigkeit erheben können. In der Cookie-Erklärung unter https://www.cookiebot.com/de/cookie-declaration/
        sehen Sie, welche weiteren Cookies eingesetzt werden können.

        Laut der Datenschutzerklärung von Cybot verkauft das Unternehmen personenbezogene Daten nicht weiter. Cybot gibt
        allerdings Daten an vertrauensvolle Dritt- oder Subunternehmen weiter, die dem Unternehmen helfen, die eigenen
        betriebswirtschaftlichen Ziele zu erreichen. Daten werden auch dann weitergegeben, wenn dies rechtlich
        erforderlich ist.
        Wie lange und wo werden die Daten gespeichert?

        Alle erhobenen Daten werden ausschließlich innerhalb der Europäischen Union übertragen, gespeichert und
        weitergeleitet. Die Daten werden in einem Azure-Rechenzentrum (Cloud-Anbieter ist Microsoft) gespeichert. Auf
        https://azure.microsoft.com/de-de/global-infrastructure/regions/ erfahren Sie mehr über alle „Azure-Regionen“.
        Alle User Daten werden von Cookiebot nach 12 Monaten ab der Registrierung (Cookie-Zustimmung) bzw. unmittelbar
        nach Kündigung des Cookiebot-Services gelöscht.
        Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?

        Sie haben jederzeit das Recht auf Ihre personenbezogenen Daten zuzugreifen und sie auch zu löschen. Die
        Datenerfassung und Speicherung können Sie beispielsweise verhindern, indem Sie über den Cookie-Hinweis die
        Verwendung von Cookies ablehnen. Eine weitere Möglichkeit die Datenverarbeitung zu unterbinden bzw. nach Ihren
        Wünschen zu verwalten, bietet Ihr Browser. Je nach Browser funktioniert die Cookie-Verwaltung etwas anders. Hier
        finden Sie die Anleitungen zu den momentan bekanntesten Browsern:

        Chrome: Cookies in Chrome löschen, aktivieren und verwalten

        Safari: Verwalten von Cookies und Websitedaten mit Safari

        Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben

        Internet Explorer: Löschen und Verwalten von Cookies

        Microsoft Edge: Löschen und Verwalten von Cookies
        Rechtsgrundlage

        Wenn Sie Cookies zustimmen, werden über diese Cookies personenbezogene Daten von Ihnen verarbeitet und
        gespeichert. Falls wir durch Ihre Einwilligung (Artikel 6 Abs. 1 lit. a DSGVO) Cookies verwenden dürfen, ist
        diese Einwilligung auch gleichzeitig die Rechtsgrundlage für die Verwendung von Cookies bzw. die Verarbeitung
        Ihrer Daten. Um die Einwilligung zu Cookies verwalten zu können und Ihnen die Einwilligung ermöglichen zu
        können, kommt der Cookiebot zum Einsatz. Der Einsatz dieser Software ermöglicht uns, die Website auf effiziente
        Weise rechtskonform zu betreiben, was ein berechtigtes Interesse (Artikel 6 Abs. 1 lit. f DSGVO) darstellt.

        Wenn Sie mehr über die Datenschutzrichtlinien von „Cookiebot“ bzw. dem dahinterstehenden Unternehmen Cybot
        erfahren wollen, empfehlen wir Ihnen die Datenschutzrichtlinien unter
        https://www.cookiebot.com/de/privacy-policy/ durchzulesen. -->
    </p>

    <h2 id="Google-Fonts-Lokal-Datenschutzerklärung">Google Fonts Lokal Datenschutzerklärung</h2>
    <p>
        Auf unserer Website nutzen wir Google Fonts der Firma Google Inc. Für den europäischen Raum ist das Unternehmen
        Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) verantwortlich. Wir haben die
        Google-Schriftarten lokal, d.h. auf unserem Webserver – nicht auf den Servern von Google – eingebunden. Dadurch
        gibt es keine Verbindung zu Google-Servern und somit auch keine Datenübertragung oder Speicherung.
        Was sind Google Fonts?

        Früher nannte man Google Fonts auch Google Web Fonts. Dabei handelt es sich um ein interaktives Verzeichnis mit
        über 800 Schriftarten, die Google kostenlos bereitstellt. Mit Google Fonts könnte man Schriften nutzen, ohne sie
        auf den eigenen Server hochzuladen. Doch um diesbezüglich jede Informationsübertragung zu Google-Servern zu
        unterbinden, haben wir die Schriftarten auf unseren Server heruntergeladen. Auf diese Weise handeln wir
        datenschutzkonform und senden keine Daten an Google Fonts weiter.
    </p>

    <h2 id="Google-Fonts-Datenschutzerklärung">Google Fonts Datenschutzerklärung</h2>
    <p>
        Google Fonts Datenschutzerklärung Zusammenfassung
        Betroffene: Besucher der Website
        Zweck: Optimierung unserer Serviceleistung
        Verarbeitete Daten: Daten wie etwa IP-Adresse und CSS- und Schrift-Anfragen
        Mehr Details dazu finden Sie weiter unten in dieser Datenschutzerklärung.
        Speicherdauer: Font-Dateien werden bei Google ein Jahr gespeichert
        Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit. f DSGVO (Berechtigte
        Interessen)
        Was sind Google Fonts?

        Auf unserer Website verwenden wir Google Fonts. Das sind die “Google-Schriften” der Firma Google Inc. Für den
        europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) für
        alle Google-Dienste verantwortlich.

        Für die Verwendung von Google-Schriftarten müssen Sie sich nicht anmelden bzw. ein Passwort hinterlegen. Weiters
        werden auch keine Cookies in Ihrem Browser gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die
        Google-Domains fonts.googleapis.com und fonts.gstatic.com angefordert. Laut Google sind die Anfragen nach CSS
        und Schriften vollkommen getrennt von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben, brauchen
        Sie keine Sorge haben, dass Ihre Google-Kontodaten, während der Verwendung von Google Fonts, an Google
        übermittelt werden. Google erfasst die Nutzung von CSS (Cascading Style Sheets) und der verwendeten Schriftarten
        und speichert diese Daten sicher. Wie die Datenspeicherung genau aussieht, werden wir uns noch im Detail
        ansehen.

        Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800 Schriftarten, die Google Ihren Nutzern
        kostenlos zu Verfügung stellen.

        Viele dieser Schriftarten sind unter der SIL Open Font License veröffentlicht, während andere unter der
        Apache-Lizenz veröffentlicht wurden. Beides sind freie Software-Lizenzen.
        Warum verwenden wir Google Fonts auf unserer Website?

        Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und müssen sie nicht auf unserem eigenen
        Server hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle
        Google-Schriften sind automatisch für das Web optimiert und dies spart Datenvolumen und ist speziell für die
        Verwendung bei mobilen Endgeräten ein großer Vorteil. Wenn Sie unsere Seite besuchen, sorgt die niedrige
        Dateigröße für eine schnelle Ladezeit. Des Weiteren sind Google Fonts sichere Web Fonts. Unterschiedliche
        Bildsynthese-Systeme (Rendering) in verschiedenen Browsern, Betriebssystemen und mobilen Endgeräten können zu
        Fehlern führen. Solche Fehler können teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen
        Content Delivery Network (CDN) gibt es mit Google Fonts keine plattformübergreifenden Probleme. Google Fonts
        unterstützt alle gängigen Browser (Google Chrome, Mozilla Firefox, Apple Safari, Opera) und funktioniert
        zuverlässig auf den meisten modernen mobilen Betriebssystemen, einschließlich Android 2.2+ und iOS 4.2+ (iPhone,
        iPad, iPod). Wir verwenden die Google Fonts also, damit wir unser gesamtes Online-Service so schön und
        einheitlich wie möglich darstellen können.
        Welche Daten werden von Google gespeichert?

        Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server nachgeladen. Durch diesen
        externen Aufruf werden Daten an die Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre
        IP-Adresse unsere Webseite besucht. Die Google Fonts API wurde entwickelt, um Verwendung, Speicherung und
        Erfassung von Endnutzerdaten auf das zu reduzieren, was für eine ordentliche Bereitstellung von Schriften nötig
        ist. API steht übrigens für „Application Programming Interface“ und dient unter anderem als Datenübermittler im
        Softwarebereich.

        Google Fonts speichert CSS- und Schrift-Anfragen sicher bei Google und ist somit geschützt. Durch die
        gesammelten Nutzungszahlen kann Google feststellen, wie gut die einzelnen Schriften ankommen. Die Ergebnisse
        veröffentlicht Google auf internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google
        auch Daten des eigenen Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten
        werden in der BigQuery-Datenbank von Google Fonts veröffentlicht. Unternehmer und Entwickler nützen das
        Google-Webservice BigQuery, um große Datenmengen untersuchen und bewegen zu können.

        Zu bedenken gilt allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie
        Spracheinstellungen, IP-Adresse, Version des Browsers, Bildschirmauflösung des Browsers und Name des Browsers
        automatisch an die Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar
        feststellbar bzw. wird von Google nicht eindeutig kommuniziert.
        Wie lange und wo werden die Daten gespeichert?

        Anfragen für CSS-Assets speichert Google einen Tag lang auf seinen Servern, die hauptsächlich außerhalb der EU
        angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets die Schriftarten zu nutzen. Ein
        Stylesheet ist eine Formatvorlage, über die man einfach und schnell z.B. das Design bzw. die Schriftart einer
        Webseite ändern kann.

        Die Font-Dateien werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die Ladezeit von
        Webseiten grundsätzlich zu verbessern. Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden
        sie nach dem ersten Besuch zwischengespeichert und erscheinen sofort auf allen anderen später besuchten
        Webseiten wieder. Manchmal aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung
        von Sprache zu erhöhen und das Design zu verbessern.
        Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?

        Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die Daten
        werden beim Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen
        Sie den Google-Support auf https://support.google.com/?hl=de&tid=311284929 kontaktieren. Datenspeicherung
        verhindern Sie in diesem Fall nur, wenn Sie unsere Seite nicht besuchen.

        Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir können
        also unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite rausholen. Mehr
        zu Google Fonts und weiteren Fragen finden Sie auf https://developers.google.com/fonts/faq?tid=311284929. Dort
        geht zwar Google auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen über
        Datenspeicherung sind nicht enthalten. Es ist relativ schwierig, von Google wirklich präzise Informationen über
        gespeicherten Daten zu bekommen.
        Rechtsgrundlage

        Wenn Sie eingewilligt haben, dass Google Fonts eingesetzt werden darf, ist die Rechtsgrundlage der
        entsprechenden Datenverarbeitung diese Einwilligung. Diese Einwilligung stellt laut Art. 6 Abs. 1 lit. a DSGVO
        (Einwilligung) die Rechtsgrundlage für die Verarbeitung personenbezogener Daten, wie sie bei der Erfassung durch
        Google Fonts vorkommen kann, dar.

        Von unserer Seite besteht zudem ein berechtigtes Interesse, Google Font zu verwenden, um unser Online-Service zu
        optimieren. Die dafür entsprechende Rechtsgrundlage ist Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen).

        Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auch auf
        https://www.google.com/intl/de/policies/privacy/ nachlesen.

        Alle Texte sind urheberrechtlich geschützt.

        Quelle: Erstellt mit dem Datenschutz Generator von AdSimple
    </p>
</div>




<!-- 
    

Einleitung und Überblick

Wir haben diese Datenschutzerklärung (Fassung 05.06.2021-311284929) verfasst, um Ihnen gemäß der Vorgaben der
Datenschutz-Grundverordnung (EU) 2016/679 und anwendbaren nationalen Gesetzen zu erklären, welche personenbezogenen
Daten (kurz Daten) wir als Verantwortliche – und die von uns beauftragten Auftragsverarbeiter (z. B. Provider) –
verarbeiten, zukünftig verarbeiten werden und welche rechtmäßigen Möglichkeiten Sie haben. Die verwendeten Begriffe sind
geschlechtsneutral zu verstehen.
Kurz gesagt: Wir informieren Sie umfassend über Daten, die wir über Sie verarbeiten.

Datenschutzerklärungen klingen für gewöhnlich sehr technisch und verwenden juristische Fachbegriffe. Diese
Datenschutzerklärung soll Ihnen hingegen die wichtigsten Dinge so einfach und transparent wie möglich beschreiben.
Soweit es der Transparenz förderlich ist, werden technische Begriffe leserfreundlich erklärt, Links zu weiterführenden
Informationen geboten und Grafiken zum Einsatz gebracht. Wir informieren damit in klarer und einfacher Sprache, dass wir
im Rahmen unserer Geschäftstätigkeiten nur dann personenbezogene Daten verarbeiten, wenn eine entsprechende gesetzliche
Grundlage gegeben ist. Das ist sicher nicht möglich, wenn man möglichst knappe, unklare und juristisch-technische
Erklärungen abgibt, so wie sie im Internet oft Standard sind, wenn es um Datenschutz geht. Ich hoffe Sie finden die
folgenden Erläuterungen interessant und informativ und vielleicht ist die eine oder andere Information dabei, die Sie
noch nicht kannten.
Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an die unten bzw. im Impressum genannte verantwortliche
Stelle zu wenden, den vorhandenen Links zu folgen und sich weitere Informationen auf Drittseiten anzusehen. Unsere
Kontaktdaten finden Sie selbstverständlich auch im Impressum.
Rechtsgrundlagen

In der folgenden Datenschutzerklärung geben wir Ihnen transparente Informationen zu den rechtlichen Grundsätzen und
Vorschriften, also den Rechtsgrundlagen der Datenschutz-Grundverordnung, die uns ermöglichen, personenbezogene Daten zu
verarbeiten.
Was das EU-Recht betrifft, beziehen wir uns auf die VERORDNUNG (EU) 2016/679 DES EUROPÄISCHEN PARLAMENTS UND DES RATES
vom 27. April 2016. Diese Datenschutz-Grundverordnung der EU können Sie selbstverständlich online auf EUR-Lex, dem
Zugang zum EU-Recht, unter https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=celex%3A32016R0679 nachlesen.

Wir verarbeiten Ihre Daten nur, wenn mindestens eine der folgenden Bedingungen zutrifft:

Einwilligung (Artikel 6 Absatz 1 lit. a DSGVO): Sie haben uns Ihre Einwilligung gegeben, Daten zu einem bestimmten Zweck
zu verarbeiten. Ein Beispiel wäre die Speicherung Ihrer eingegebenen Daten eines Kontaktformulars.
Vertrag (Artikel 6 Absatz 1 lit. b DSGVO): Um einen Vertrag oder vorvertragliche Verpflichtungen mit Ihnen zu erfüllen,
verarbeiten wir Ihre Daten. Wenn wir zum Beispiel einen Kaufvertrag mit Ihnen abschließen, benötigen wir vorab
personenbezogene Informationen.
Rechtliche Verpflichtung (Artikel 6 Absatz 1 lit. c DSGVO): Wenn wir einer rechtlichen Verpflichtung unterliegen,
verarbeiten wir Ihre Daten. Zum Beispiel sind wir gesetzlich verpflichtet Rechnungen für die Buchhaltung aufzuheben.
Diese enthalten in der Regel personenbezogene Daten.
Berechtigte Interessen (Artikel 6 Absatz 1 lit. f DSGVO): Im Falle berechtigter Interessen, die Ihre Grundrechte nicht
einschränken, behalten wir uns die Verarbeitung personenbezogener Daten vor. Wir müssen zum Beispiel gewisse Daten
verarbeiten, um unsere Website sicher und wirtschaftlich effizient betreiben zu können. Diese Verarbeitung ist somit ein
berechtigtes Interesse.

Weitere Bedingungen wie die Wahrnehmung von Aufnahmen im öffentlichen Interesse und Ausübung öffentlicher Gewalt sowie
dem Schutz lebenswichtiger Interessen treten bei uns in der Regel nicht auf. Soweit eine solche Rechtsgrundlage doch
einschlägig sein sollte, wird diese an der entsprechenden Stelle ausgewiesen.

Zusätzlich zu der EU-Verordnung gelten auch noch nationale Gesetze:

In Österreich ist dies das Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten
(Datenschutzgesetz), kurz DSG.
In Deutschland gilt das Bundesdatenschutzgesetz, kurz BDSG.

Sofern weitere regionale oder nationale Gesetze zur Anwendung kommen, informieren wir Sie in den folgenden Abschnitten
darüber.
Kontaktdaten des Verantwortlichen

Sollten Sie Fragen zum Datenschutz haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen Person bzw.
Stelle:
Musterfirma GmbH
Musterstraße 1, 4711 Musterort
Vertretungsberechtigt: Markus Mustermann
E-Mail: office@musterfirma.com
Telefon: +49 47114 654165
Impressum: https://www.testfirma.de/impressum
Rechte laut Datenschutzgrundverordnung

Laut Artikel 13 DSGVO stehen Ihnen die folgenden Rechte zu, damit es zu einer fairen und transparenten Verarbeitung von
Daten kommt:

Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten von Ihnen verarbeiten. Sollte das zutreffen,
haben Sie Recht darauf eine Kopie der Daten zu erhalten und die folgenden Informationen zu erfahren:
zu welchem Zweck wir die Verarbeitung durchführen;
die Kategorien, also die Arten von Daten, die verarbeitet werden;
wer diese Daten erhält und wenn die Daten an Drittländer übermittelt werden, wie die Sicherheit garantiert werden kann;
wie lange die Daten gespeichert werden;
das Bestehen des Rechts auf Berichtigung, Löschung oder Einschränkung der Verarbeitung und dem Widerspruchsrecht gegen
die Verarbeitung;
dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links zu diesen Behörden finden Sie weiter unten);
die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben haben;
ob Profiling durchgeführt wird, ob also Daten automatisch ausgewertet werden, um zu einem persönlichen Profil von Ihnen
zu gelangen.
Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten, was bedeutet, dass wir Daten richtig stellen
müssen, falls Sie Fehler finden.
Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf Vergessenwerden“), was konkret bedeutet, dass Sie die
Löschung Ihrer Daten verlangen dürfen.
Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der Verarbeitung, was bedeutet, dass wir die Daten nur mehr
speichern dürfen aber nicht weiter verwenden.
Sie haben laut Artikel 19 DSGVO das Recht auf Datenübertragbarkeit, was bedeutet, dass wir Ihnen auf Anfrage Ihre Daten
in einem gängigen Format zur Verfügung stellen.
Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach Durchsetzung eine Änderung der Verarbeitung mit sich
bringt.
Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e (öffentliches Interesse, Ausübung öffentlicher Gewalt)
oder Artikel 6 Abs. 1 lit. f (berechtigtes Interesse) basiert, können Sie gegen die Verarbeitung Widerspruch einlegen.
Wir prüfen danach so rasch wie möglich, ob wir diesem Widerspruch rechtlich nachkommen können.
Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie jederzeit gegen diese Art der Datenverarbeitung
widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Direktmarketing verwenden.
Werden Daten verwendet, um Profiling zu betreiben, können Sie jederzeit gegen diese Art der Datenverarbeitung
widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Profiling verwenden.
Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer ausschließlich auf einer automatisierten
Verarbeitung (zum Beispiel Profiling) beruhenden Entscheidung unterworfen zu werden.

Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen
Ansprüche in sonst einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. Diese ist für
Österreich die Datenschutzbehörde, deren Website Sie unter https://www.dsb.gv.at/ finden und für Deutschland können Sie
sich an die Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI) wenden.

Kurz gesagt: Sie haben Rechte – zögern Sie nicht, die oben gelistete verantwortliche Stelle bei uns zu kontaktieren!
Cookiebot Datenschutzerklärung
Cookiebot Datenschutzerklärung Zusammenfassung
👥 Betroffene: Website Besucher
🤝 Zweck: Einholung der Zustimmung zu bestimmten Cookies und somit dem Einsatz bestimmter Tools
📓 Verarbeitete Daten: Daten zur Verwaltung der eingestellten Cookie-Einstellungen wie IP-Adresse, Zeitpunkt der
Zustimmung, Art der Zustimmung, einzelne Zustimmungen. Mehr Details dazu finden Sie beim jeweils eingesetzten Tool.
📅 Speicherdauer: die Daten werden nach einem Jahr gelöscht
⚖️ Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit.f DSGVO (berechtigte Interessen)
Was ist Cookiebot?

Wir verwenden auf unserer Website Funktionen des Anbieters Cookiebot. Hinter Cookiebot steht das Unternehmen Cybot A/S,
Havnegade 39, 1058 Kopenhagen, DK. Cookiebot bietet uns unter anderem die Möglichkeit, Ihnen einen umfangreichen
Cookie-Hinweis (auch Cookie-Banner oder Cookie-Notice genannt) zu liefern. Durch die Verwendung dieser Funktion können
Daten von Ihnen an Cookiebot bzw. Cybot gesendet, gespeichert und verarbeitet werden. In dieser Datenschutzerklärung
informieren wir Sie warum wir Cookiebot nutzen, welche Daten übertragen werden und wie Sie diese Datenübertragung
verhindern können.

Cookiebot ist ein Software-Produkt des Unternehmens Cybot. Die Software erstellt automatisch einen DSGVO-konformen
Cookie-Hinweis für unserer Websitebesucher. Zudem scannt, kontrolliert und wertet die Technologie hinter Cookiebot alle
Cookies und Tracking-Maßnahmen auf unserer Website.
Warum verwenden wir Cookiebot auf unserer Website?

Datenschutz nehmen wir sehr ernst. Wir wollen Ihnen ganz genau zeigen, was auf unserer Website vor sich geht und welche
Ihrer Daten gespeichert werden. Cookiebot hilft uns einen guten Überblick über all unsere Cookies (Erst- und
Drittanbieter-Cookies) zu erhalten. So können wir Sie über die Nutzung von Cookies auf unserer Website exakt und
transparent informieren. Sie bekommen stets einen aktuellen und datenschutzkonformen Cookie-Hinweis und entscheiden
selbst, welche Cookies Sie zulassen und welche nicht.
Welche Daten werden von Cookiebot gespeichert?

Wenn Sie Cookies zulassen, werden folgende Daten an Cybot übertragen, gespeichert und verarbeitet.

IP-Adresse (in anonymisierter Form, die letzten 3 Ziffern werden auf 0 gesetzt)
Datum und Uhrzeit Ihres Einverständnisses
unsere Website-URL
technische Browserdaten
verschlüsselter, anonymer Key
die Cookies, die Sie zugelassen haben (als Zustimmungsnachweis)

Folgenden Cookies werden von Cookiebot gesetzt, wenn Sie der Verwendung von Cookies zugestimmt haben:

Name: CookieConsent
Wert: {stamp:’P7to4eNgIHvJvDerjKneBsmJQd9311284929-2
Verwendungszweck: In diesem Cookie wird Ihr Zustimmungsstatus, gespeichert. Dadurch kann unsere Website auch bei
zukünftigen Besuchen den aktuellen Status lesen und befolgen.
Ablaufdatum: nach einem Jahr

Name: CookieConsentBulkTicket
Wert: kDSPWpA%2fjhljZKClPqsncfR8SveTnNWhys5NojaxdFYBPjZ2PaDnUw%3d%3311284929-6
Verwendungszweck: Dieses Cookie wird gesetzt, wenn Sie alle Cookies erlauben und somit eine “Sammelzustimmung” aktiviert
haben. Das Cookie speichert dann eine eigene, zufällige und eindeutige ID.
Ablaufdatum: nach einem Jahr

Anmerkung: Bitte bedenken Sie, dass es sich hier um eine beispielhafte Liste handelt und wir keinen Anspruch auf
Vollständigkeit erheben können. In der Cookie-Erklärung unter https://www.cookiebot.com/de/cookie-declaration/ sehen
Sie, welche weiteren Cookies eingesetzt werden können.

Laut der Datenschutzerklärung von Cybot verkauft das Unternehmen personenbezogene Daten nicht weiter. Cybot gibt
allerdings Daten an vertrauensvolle Dritt- oder Subunternehmen weiter, die dem Unternehmen helfen, die eigenen
betriebswirtschaftlichen Ziele zu erreichen. Daten werden auch dann weitergegeben, wenn dies rechtlich erforderlich ist.
Wie lange und wo werden die Daten gespeichert?

Alle erhobenen Daten werden ausschließlich innerhalb der Europäischen Union übertragen, gespeichert und weitergeleitet.
Die Daten werden in einem Azure-Rechenzentrum (Cloud-Anbieter ist Microsoft) gespeichert. Auf
https://azure.microsoft.com/de-de/global-infrastructure/regions/ erfahren Sie mehr über alle „Azure-Regionen“. Alle User
Daten werden von Cookiebot nach 12 Monaten ab der Registrierung (Cookie-Zustimmung) bzw. unmittelbar nach Kündigung des
Cookiebot-Services gelöscht.
Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?

Sie haben jederzeit das Recht auf Ihre personenbezogenen Daten zuzugreifen und sie auch zu löschen. Die Datenerfassung
und Speicherung können Sie beispielsweise verhindern, indem Sie über den Cookie-Hinweis die Verwendung von Cookies
ablehnen. Eine weitere Möglichkeit die Datenverarbeitung zu unterbinden bzw. nach Ihren Wünschen zu verwalten, bietet
Ihr Browser. Je nach Browser funktioniert die Cookie-Verwaltung etwas anders. Hier finden Sie die Anleitungen zu den
momentan bekanntesten Browsern:

Chrome: Cookies in Chrome löschen, aktivieren und verwalten

Safari: Verwalten von Cookies und Websitedaten mit Safari

Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben

Internet Explorer: Löschen und Verwalten von Cookies

Microsoft Edge: Löschen und Verwalten von Cookies
Rechtsgrundlage

Wenn Sie Cookies zustimmen, werden über diese Cookies personenbezogene Daten von Ihnen verarbeitet und gespeichert.
Falls wir durch Ihre Einwilligung (Artikel 6 Abs. 1 lit. a DSGVO) Cookies verwenden dürfen, ist diese Einwilligung auch
gleichzeitig die Rechtsgrundlage für die Verwendung von Cookies bzw. die Verarbeitung Ihrer Daten. Um die Einwilligung
zu Cookies verwalten zu können und Ihnen die Einwilligung ermöglichen zu können, kommt der Cookiebot zum Einsatz. Der
Einsatz dieser Software ermöglicht uns, die Website auf effiziente Weise rechtskonform zu betreiben, was ein
berechtigtes Interesse (Artikel 6 Abs. 1 lit. f DSGVO) darstellt.

Wenn Sie mehr über die Datenschutzrichtlinien von „Cookiebot“ bzw. dem dahinterstehenden Unternehmen Cybot erfahren
wollen, empfehlen wir Ihnen die Datenschutzrichtlinien unter https://www.cookiebot.com/de/privacy-policy/ durchzulesen.


Google Fonts Lokal Datenschutzerklärung

Auf unserer Website nutzen wir Google Fonts der Firma Google Inc. Für den europäischen Raum ist das Unternehmen Google
Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) verantwortlich. Wir haben die Google-Schriftarten lokal,
d.h. auf unserem Webserver – nicht auf den Servern von Google – eingebunden. Dadurch gibt es keine Verbindung zu
Google-Servern und somit auch keine Datenübertragung oder Speicherung.
Was sind Google Fonts?

Früher nannte man Google Fonts auch Google Web Fonts. Dabei handelt es sich um ein interaktives Verzeichnis mit über 800
Schriftarten, die Google kostenlos bereitstellt. Mit Google Fonts könnte man Schriften nutzen, ohne sie auf den eigenen
Server hochzuladen. Doch um diesbezüglich jede Informationsübertragung zu Google-Servern zu unterbinden, haben wir die
Schriftarten auf unseren Server heruntergeladen. Auf diese Weise handeln wir datenschutzkonform und senden keine Daten
an Google Fonts weiter.
Google Fonts Datenschutzerklärung
Google Fonts Datenschutzerklärung Zusammenfassung
👥 Betroffene: Besucher der Website
🤝 Zweck: Optimierung unserer Serviceleistung
📓 Verarbeitete Daten: Daten wie etwa IP-Adresse und CSS- und Schrift-Anfragen
Mehr Details dazu finden Sie weiter unten in dieser Datenschutzerklärung.
📅 Speicherdauer: Font-Dateien werden bei Google ein Jahr gespeichert
⚖️ Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen)
Was sind Google Fonts?

Auf unserer Website verwenden wir Google Fonts. Das sind die “Google-Schriften” der Firma Google Inc. Für den
europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) für alle
Google-Dienste verantwortlich.

Für die Verwendung von Google-Schriftarten müssen Sie sich nicht anmelden bzw. ein Passwort hinterlegen. Weiters werden
auch keine Cookies in Ihrem Browser gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die Google-Domains
fonts.googleapis.com und fonts.gstatic.com angefordert. Laut Google sind die Anfragen nach CSS und Schriften vollkommen
getrennt von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben, brauchen Sie keine Sorge haben, dass Ihre
Google-Kontodaten, während der Verwendung von Google Fonts, an Google übermittelt werden. Google erfasst die Nutzung von
CSS (Cascading Style Sheets) und der verwendeten Schriftarten und speichert diese Daten sicher. Wie die Datenspeicherung
genau aussieht, werden wir uns noch im Detail ansehen.

Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800 Schriftarten, die Google Ihren Nutzern kostenlos
zu Verfügung stellen.

Viele dieser Schriftarten sind unter der SIL Open Font License veröffentlicht, während andere unter der Apache-Lizenz
veröffentlicht wurden. Beides sind freie Software-Lizenzen.
Warum verwenden wir Google Fonts auf unserer Website?

Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und müssen sie nicht auf unserem eigenen Server
hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle
Google-Schriften sind automatisch für das Web optimiert und dies spart Datenvolumen und ist speziell für die Verwendung
bei mobilen Endgeräten ein großer Vorteil. Wenn Sie unsere Seite besuchen, sorgt die niedrige Dateigröße für eine
schnelle Ladezeit. Des Weiteren sind Google Fonts sichere Web Fonts. Unterschiedliche Bildsynthese-Systeme (Rendering)
in verschiedenen Browsern, Betriebssystemen und mobilen Endgeräten können zu Fehlern führen. Solche Fehler können
teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen Content Delivery Network (CDN) gibt es mit
Google Fonts keine plattformübergreifenden Probleme. Google Fonts unterstützt alle gängigen Browser (Google Chrome,
Mozilla Firefox, Apple Safari, Opera) und funktioniert zuverlässig auf den meisten modernen mobilen Betriebssystemen,
einschließlich Android 2.2+ und iOS 4.2+ (iPhone, iPad, iPod). Wir verwenden die Google Fonts also, damit wir unser
gesamtes Online-Service so schön und einheitlich wie möglich darstellen können.
Welche Daten werden von Google gespeichert?

Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server nachgeladen. Durch diesen externen
Aufruf werden Daten an die Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre IP-Adresse unsere
Webseite besucht. Die Google Fonts API wurde entwickelt, um Verwendung, Speicherung und Erfassung von Endnutzerdaten auf
das zu reduzieren, was für eine ordentliche Bereitstellung von Schriften nötig ist. API steht übrigens für „Application
Programming Interface“ und dient unter anderem als Datenübermittler im Softwarebereich.

Google Fonts speichert CSS- und Schrift-Anfragen sicher bei Google und ist somit geschützt. Durch die gesammelten
Nutzungszahlen kann Google feststellen, wie gut die einzelnen Schriften ankommen. Die Ergebnisse veröffentlicht Google
auf internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google auch Daten des eigenen
Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten werden in der
BigQuery-Datenbank von Google Fonts veröffentlicht. Unternehmer und Entwickler nützen das Google-Webservice BigQuery, um
große Datenmengen untersuchen und bewegen zu können.

Zu bedenken gilt allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie Spracheinstellungen,
IP-Adresse, Version des Browsers, Bildschirmauflösung des Browsers und Name des Browsers automatisch an die
Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar feststellbar bzw. wird von
Google nicht eindeutig kommuniziert.
Wie lange und wo werden die Daten gespeichert?

Anfragen für CSS-Assets speichert Google einen Tag lang auf seinen Servern, die hauptsächlich außerhalb der EU
angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets die Schriftarten zu nutzen. Ein Stylesheet ist
eine Formatvorlage, über die man einfach und schnell z.B. das Design bzw. die Schriftart einer Webseite ändern kann.

Die Font-Dateien werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die Ladezeit von Webseiten
grundsätzlich zu verbessern. Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden sie nach dem
ersten Besuch zwischengespeichert und erscheinen sofort auf allen anderen später besuchten Webseiten wieder. Manchmal
aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung von Sprache zu erhöhen und das Design
zu verbessern.
Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?

Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die Daten werden beim
Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen Sie den
Google-Support auf https://support.google.com/?hl=de&tid=311284929 kontaktieren. Datenspeicherung verhindern Sie in
diesem Fall nur, wenn Sie unsere Seite nicht besuchen.

Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir können also
unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite rausholen. Mehr zu Google
Fonts und weiteren Fragen finden Sie auf https://developers.google.com/fonts/faq?tid=311284929. Dort geht zwar Google
auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen über Datenspeicherung sind nicht
enthalten. Es ist relativ schwierig, von Google wirklich präzise Informationen über gespeicherten Daten zu bekommen.
Rechtsgrundlage

Wenn Sie eingewilligt haben, dass Google Fonts eingesetzt werden darf, ist die Rechtsgrundlage der entsprechenden
Datenverarbeitung diese Einwilligung. Diese Einwilligung stellt laut Art. 6 Abs. 1 lit. a DSGVO (Einwilligung) die
Rechtsgrundlage für die Verarbeitung personenbezogener Daten, wie sie bei der Erfassung durch Google Fonts vorkommen
kann, dar.

Von unserer Seite besteht zudem ein berechtigtes Interesse, Google Font zu verwenden, um unser Online-Service zu
optimieren. Die dafür entsprechende Rechtsgrundlage ist Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen).

Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auch auf
https://www.google.com/intl/de/policies/privacy/ nachlesen.

Alle Texte sind urheberrechtlich geschützt.

Quelle: Erstellt mit dem Datenschutz Generator von AdSimple -->