@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --primary-red: #d85050;
    --table: #4a4a4a;
    --bg-color-startpage: #3c3c3c;
  }

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: unset !important;
    scroll-behavior: smooth;

    color: white
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

#start-page{
    background-color: var(--bg-color-startpage);
}