<div class="container" id="my-person">
    <div class="profile-container">
        <div class="person-details">
            <div class="image-container">
                <div class="image"></div>
                <div class="fill-area"></div>
            </div>
            <div class="text-container">
                <div class="name">Klaus Werner</div>
                <div class="job">Web-Developer</div>
                <div class="info-text">
                    ANGULAR | JAVASCRIPT | HTML | CSS
                </div>
                <div class="btn-contact-me" (click)="scrollToContactForm()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <p class="txt-contact-me">CONTACT ME</p>
                </div>
            </div>
        </div>
    </div>
</div>